{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["relay", { "compat": true, "schema": "src/server/data/schema.graphql" }]
  ],
  "env": {
    "test": {
      "presets": [
        ["es2015", { "modules": "commonjs" }],
        "stage-0",
        "react"
      ],
      "plugins": [
        "./scripts/babelStaticsPlugin"
      ]
    }
  }
}
