@import '~theme/variables';

// TODO: Similar to ArticleList
.wrapper {
  max-width: 720px;
  margin: 0 auto;
}

.authorBox {
  text-align: center;

  a {
    color: $text-dark;

    &:hover,
    &:active,
    &:focus {
      color: $text-dark;
      text-decoration: none;
    }
  }
}

.donate {
  margin: 1.2em 0;
}
