@import '~theme/variables';

$nav-shadow: rgba(0, 0, 0, .1);

// scss-lint:disable SelectorFormat TODO
.main-nav {
  // cast shadow onto hero image
  background: $background-public;
  border-bottom: solid 10px $primary-red;
  box-shadow: 0 -1em 2em $nav-shadow;
  padding: 0 2em;
  position: relative;
  width: 100%;
  z-index: 10;

  @media (min-width: $screen-lg-min) {
    padding: 0 6em;
  }

  ul {
    // FIXME: Browser support (this is obviously a very critical component)
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: $screen-md-min) {
      display: none;
    }
  }

  li {
    display: inline-block;
    margin: 1em 0 .5em;
  }

  a {
    color: $nav-color;
    display: block;
    font-family: $font-family-serif;
    font-size: .9em;
    letter-spacing: .1em;
    opacity: .6;
    text-transform: uppercase;
    transition: opacity ease-in-out 300ms;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    &.active {
      color: $primary-red;
      opacity: 1;
    }

    img {
      display: block;
      height: 55px;
      margin: 0 auto;
      margin-bottom: .5em;
      transition: margin 150ms;
    }
  }
}
